body {
    background-color: hsl(217, 54%, 11%);
}

.card-img-top {
    border-color: hsl(216, 50%, 16%);
    object-fit: cover;
}

.card-img-top {
    background-color: rgb(117, 251, 247);
}

.active-state {
    position: absolute !important;
    background-color: hsl(178, 100%, 50%, 60%) !important;
    width: 85% !important;
    height: 50% !important;
    z-indez: 999 !important;
    opacity: 0 !important;
    transition: opacity 0.3s ease-in-out !important;
} 

.active-state:hover {
    opacity: 1 !important;
    cursor: pointer;
}

.view-image {
    position: absolute !important; 
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.card {
    background-color: hsl(216, 50%, 16%);
    margin: 5rem auto;
}

.card-title {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.card-title:hover {
    color: rgb(117, 251, 247);
    cursor: pointer;
}

.card-subtitle {
   
}

.card-text {
    font-size: 16px;
}

.price-time {
    border-color: hsl(215, 32%, 27%) !important;
}

.card-text, .days-left, .createdBy {
    color: hsl(215, 51%, 70%);
}

.price-eth, .days-left {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.card-text, .createdBy, .createdName {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}

.price-eth {
    color: hsl(178, 100%, 50%);
}

.createdName {
    color: hsl(0, 0%, 100%);
}

.createdName:hover {
    color: rgb(117, 251, 247);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(215, 51%, 70%);
    margin: -4rem auto;
}

.attribution a {
    color: hsl(178, 100%, 50%);
}